body {
    background-color: #393e46;
}
.moldura{
    background-color: rgba(255, 255, 255, 0.26);
    
}

.loggo {
    width: 90px;
    height: 60px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family:'josefin Sans', sans-serif; 
    font-size: 24px  ;
}

nav a:hover{
    color: white;
}


.inputpesquisar{
    
    width: 150px ;
    border: 0.25px solid black;
    border-radius: 0.25rem;
    padding: 6px 12px
    
}

.inputpesquisar:focus{
    outline: none;
   
}


.inputpesquisar:hover, .inputpesquisar:focus, .inputpesquisar:active{
    background: white;
    box-shadow: none;
    width: 150px ;
    border-color: black; 
    
}

.btn {
    background-color: #149588;
    color: white;
    border-color: white;
    font-family:'josefin Sans', sans-serif;
    font-size: large;
}


.btn:hover{
color: white;
background-color: rgb(43, 182, 182);
border-color: white;
}