.text-center {
    color:#149588;
    

}

.servicos{
    margin-top: 8rem;
}

.titulo{
    font-family:'josefin Sans', sans-serif; 
    font-size: 60px;

}

.produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.card{
    
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.575));
    box-shadow:#686565 5px 5px 5px;
    color: white;
    text-align: center;
    
    
}

.card:hover{
    box-shadow:#999b84 8px 8px 8px ;
    border: 3px solid linear-gradient(rgba(0, 0, 0, 0.582),rgba(0, 0, 0, 0.575));
    border-radius: 0.5rem;
    transition: 1s;

    
}

.icone{
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #149588;
   
}

.icone:hover{
    font-size: 85px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.card-text {
   font-size: 12px;
}

.contratar{
    align-items: center;
    justify-content: center;
}

