.text-center {
    color:#149588;

}

.servicos{
    margin-top: 9rem;
}

.titulo{
    font-family:'josefin Sans', sans-serif; 
    font-size: 60px;

}

.card{
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    box-shadow: white 5px 5px 5px;
    color: white;
    
}
.fa-camera-retro{
    font-size: 65px;
    margin-bottom: 20px;
    color: #149588;
   
}

.fa-camera-retro:hover{
    font-size: 85px;
    margin-bottom: 0px;
   
}
